.main-hero-div {
    width: 100%;
    height: 100vh;
    background: var(--color-1);
    background: linear-gradient(224deg, rgba(14, 12, 22, 1) 31%, rgba(42, 28, 62, 1) 68%, rgba(47, 33, 48, 0.89) 100%);
    position: relative;
    overflow: hidden;
    font-family: "Baloo 2", sans-serif;
}

.hero-container {
    height: 75%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: url('../../Assets/hero.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 0px;
}

.hero-text {
    position: absolute;
    right: 0;
    width: 50%;
}

.hero-text>h1 {
    color: rgb(185, 131, 162);
    font-weight: 800;
    font-size: 48px;
}

.hero-text>p {
    color: rgba(185, 131, 162, 0.9);
}

.hero-text>button {
    padding: 10px 20px;
    color: rgba(225, 225, 225, 0.85);
    background: transparent;
    border: 1px solid white;
    transition: .2s;
}

.hero-text>button:hover {
    border-radius: 20px;
    background-color: white;
    color: #0E0C16;
}

@media only screen and (max-width:992px) {
    .hero-text>h1 {
        font-size: 38px;
    }
}

@media only screen and (max-width:768px) {
    .main-hero-div {
        height: 60vh;
    }

    .hero-text>h1 {
        font-size: 28px;
    }
}

@media only screen and (max-width:576px) {
    .main-hero-div {
        height: 40vh;
    }

    .hero-text>h1 {
        font-size: 18px;
    }

    .hero-text>p {
        font-size: 14px;
    }

    .hero-text>button {
        padding: 5px 10px;
        font-size: 14px;
    }
}