.character-art-portrait {
    width: 200px;
    height: 300px;
    /* width: 300px;
    height: 400px; */
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    border: 2px solid var(--color-2);
    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
}

.character-art-landscape {
    width: 350px;
    height: 200px;
    /* width: 450px;
    height: 300px; */
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.load-more-btn-wrapper {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.load-more-btn {
    padding: 10px 25px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.load-more-btn:hover {
    background-color: #584df2;
}


@media only screen and (max-width:430px) {
    .character-art-portrait {
        /* width: 250px;
        height: 300px; */
        width: 200px;
        height: 250px;
    }

    .character-art-landscape {
        /* width: 350px;
        height: 250px; */
        width: 300px;
        height: 200px;
    }
}