.character-art-portrait {
    width: 200px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    border: 2px solid var(--color-2);
}

.character-art-landscape {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    border: 2px solid var(--color-2);
}

.load-more-btn-wrapper {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.load-more-btn {
    padding: 10px 25px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.load-more-btn:hover {
    background-color: #584df2;
}


@media only screen and (max-width:430px) {
    .character-art-portrait {
        height: 250px;
    }
}