.character-art-portrait {
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.character-art-landscape {
    width: 450px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

@media only screen and (max-width:430px) {
    .character-art-portrait {
        width: 250px;
        height: 300px;
    }

    .character-art-landscape {
        width: 350px;
        height: 250px;
    }
}