.about-sec-main {
    width: 100%;
    height: 100vh;
    font-family: "Baloo 2", sans-serif;
    background-color: #EDEDED;
    background-image: url("../../Assets/about-sec-bg.jpeg");
    background-size: cover;
    background-position: center;
}

.about-sec-container {
    height: 100% !important;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.about-sec-text {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-sec-text>h1 {
    width: 100%;
    font-size: 48px;
    font-weight: 800;
    padding: 15px 0px;
    color: var(--color-2);
    border-bottom: 1px solid var(--color-2);
}

.about-sec-text>p {
    font-size: 18px;
    color: white;
}

.about-social-icons {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 200px;
    transition: .3s;
}

.social-icons {
    margin-right: 10px;
    padding: 5px 7px;
    background-color: white;
    color: black;
    border-radius: 50%;
    transition: .3s;
}

.about-social-icons:hover .social-icons {
    background-color: var(--color-2);
}

.about-sec-img {
    width: 50%;
    height: 90%;
    /* border-radius: 14px; */
    /* overflow: hidden; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

.about-sec-img>img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width:992px) {
    .about-sec-text>h1 {
        font-size: 38px;
        font-weight: 800;
        padding: 5px 0px;
    }

    .about-sec-text>p {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .about-social-icons {
        font-size: 16px;
    }

    .social-icons {
        margin-right: 10px;
        padding: 5px 7px;
    }
}

@media only screen and (max-width:768px) {
    .about-sec-main {
        height: auto;
        background-image: url("../../Assets/about-sec-bg-2.jpeg");
        padding: 0px;
    }

    .about-sec-container {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .about-sec-img{
        height: 250px;
        display: flex;
        justify-content: center;
    }

    .about-sec-img>img {
        width: 70%;
        height: 90%;
    }

    .about-sec-img,
    .about-sec-text {
        width: 100%;
    }
}