.contact-sec-main {
    width: 100%;
    height: 120vh;
    font-family: "Baloo 2", sans-serif;
    margin-top: 20px;
    background-color: black;
    background-image: url("../../Assets/contact-sec-bg.jpeg");
    background-position: bottom;
    background-size: cover;
}

.contact-sec-container {
    height: 100% !important;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.contact-sec-text {
    width: 50%;
    height: auto;
    display: flex;
    padding-left: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-hd-1,
.contact-hd-2 {
    font-size: 58px;
    font-weight: 800;
    color: var(--color-2);
}

.contact-hd-2 {
    color: white;
    margin-top: -20px;
}

.contact-sec-text>p {
    font-size: 18px;
    color: white;
}

.contact-sec-img {
    width: 35%;
    height: 100%;
    border-radius: 14px;
    overflow: hidden;
    /* background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

.contact-sec-img>img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width:992px) {
    .contact-sec-text>h1 {
        font-size: 38px;
        font-weight: 800;
        padding: 5px 0px;
    }

    .contact-sec-text>p {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .contact-social-icons {
        font-size: 16px;
    }
}

@media only screen and (max-width:768px) {
    .contact-sec-main {
        height: 50vh;
        background: none;
        position: relative;
        z-index: 0;
    }
    
    .contact-sec-main:before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        background-image: url("../../Assets/contact-sec-bg.jpeg");
        background-position: right;
        background-size: cover;
    }
    
    .contact-sec-container {
        /* flex-direction: column-reverse; */
        padding: 0px;
        /* padding-bottom: 20px; */
        background-color: rgba(0, 0, 0, 0.4);
    }

    .contact-sec-img,
    .contact-sec-text {
        width: 100%;
    }
}