.main-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-family: "Baloo 2", sans-serif;
}

.scroll-header {
    width: 80%;
    height: 60px;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0;
}

.logo-div {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-div>img {
    height: 100%;
}

.nav-links-div {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    list-style: none;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.nav-links-div>li>a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-links-div>li>a:hover {
    color: rgb(222, 219, 219);
}

.res-nav-links,
.active-links {
    position: relative;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
}

.res-nav-links:hover,
.active-links {
    background-color: white;
    color: var(--color-1);
}

/* Slider */
.menu-icon {
    width: 60px;
    height: 60px;
    border: 1px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    margin-right: 10px;
}

.slider-main {
    position: fixed;
    height: 100vh;
    width: 30%;
    /* backdrop-filter: blur(10px); */
    background-color: var(--color-1);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 1000;
    top: 0;
    right: 0;
    overflow: auto;
    display: flex;
}

.slider-main::-webkit-scrollbar {
    width: 5px;
}

.slider-main::-webkit-scrollbar-thumb {
    background-color: rgb(214, 212, 212);
    border-radius: 20px;
}

.slider-main>h2>span {
    width: 40px;
    height: 40px;
    font-size: 18px;
    position: absolute;
    z-index: 100;
    border: 1px solid white;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.slider-main>ul {
    width: 100%;
    height: 50%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 500;
    font-size: 24px;
}

.slider-main>ul>li {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* @media only screen and (max-width:1024px) {
    .nav-links-div {
        display: none;
    }

    .menu-icon {
        display: flex;
    }
        
    .slider-main {
        display: flex;
    }
} */

@media only screen and (max-width:997px) {
    .logo-div {
        width: 40%;
    }

    .slider-main {
        width: 50%;
    }


    .slider-main>ul {
        font-size: 18px;
    }
}

@media only screen and (max-width:576px) {
    .slider-main {
        width: 80%;
    }
}