.main-footer {
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    z-index: 1;
}

.footer-bg {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
}

.footer-bg>img {
    width: 100%;
    height: 100%;
}

.main-footer h1 {
    font-family: "Titan One", sans-serif;
}

.footer-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px 0px;
    border-top: 1px solid grey;
    text-align: center;
    font-size: 14px;
    color: rgb(255, 255, 255, 0.9);
    font-family: "Poppins", sans-serif;
}

.social-icons-div {
    /* width: 100%; */
    display: flex;
    /* flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    margin-top: 5px;
}

.social-icon {
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.social-icon::before {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    z-index: -1;
    background-color: var(--color-2);
    transition: .5s;
}

.social-icon:hover {
    color: white;
}

.social-icon:hover::before {
    height: 100%;
}

.footer-links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 30px 0px;
    list-style: none;
}

.footer-links>li {
    padding: 2px 5px;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    height: 15px;
    margin-top: 5px;
}

.footer-links>li>a {
    text-decoration: none;
    color: white;
}

.footer-links>li>a:hover {
    color: rgb(255, 0, 0, 0.7);
}

.footer-links>li:last-child {
    border-right: none;
}



@media only screen and (max-width:430px) {
    .main-footer {
        height: 200px;
    }
}