.main-img-div {
    width: 100%;
    padding: 100px 0px 0px 0px;
    overflow: hidden;
}

.main-img-div>h1,
.main-img-div>h2 {
    color: white;
    text-align: center;
    font-weight: 600;
}

.main-img-div>h1 {
    font-size: 5rem;
    background-color: var(--color-2);
    color: white;
    padding: 20px;
    position: relative;
    font-family: "Titan One", sans-serif;
}


.main-img-div>h1>p {
    margin: 0;
}

.main-img-div>h2 {
    font-size: 3rem;
    margin-top: 50px;
    color: black;
    font-family: "Titan One", sans-serif;
}

.division-line {
    margin-top: 70px;
    background-color: white;
    height: 2px;
    width: 100%;
}

.img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* margin-top: 100px */
}

.img-container .img-div {
    width: 350px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}

.img-container .twitch-img-div {
    width: 400px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}

.img-container .character-art-img-div {
    width: 350px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}

.img-container .dnd-img-div {
    width: 400px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}

.img-container .logo-img-div {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}

.img-container .reference-img-div {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}

/* Carousel */

.main-carousel {
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel-div {
    width: 350px;
    height: 400px;
    position: relative;
}

.carousel-div>img {
    width: 100%;
    height: 100%;
}

.carousel-arrows {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    font-size: 40px;
    position: absolute;
    top: 45%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

/* Comic */
.comic-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    flex-wrap: wrap;
    position: relative;
}


.demoPage {
    background-color: white !important;
}

.demoPage>img {
    width: 100%;
    height: 100%;
}

.demo-page-1 {
    position: relative;
}

.demo-page-1::after {
    content: "Click Me";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.demo-page-1:hover::after {
    opacity: 1;
}

.comic-book-div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -999;
    transition: opacity .5s ease;
    background-color: rgba(0, 0, 0, 0.6);
}

.comic-book-div>div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.comic-book-div>div>span {
    position: absolute;
    right: 20px;
    top: 0px;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.comic-preview {
    width: 300px;
    height: 500px;
}

.comic-preview>img {
    width: 100%;
    height: 100%;
}

#comic-toggle {
    display: none;
}

#comic-toggle:checked~.comic-book-div {
    z-index: 999;
    opacity: 1;
}

@media only screen and (max-width:768px) {

    .service-hero-container,
    .service-img-container {
        background-position: center;
    }

    .hero-text-div {
        width: 100%;
        height: 100%;
    }

    .main-img-div>h1 {
        font-size: 4.5rem;
    }

    .hero-text-div>h1 {
        font-size: 3rem;
    }


    .hero-text-div>p {
        color: grey;
        font-size: 16px;
    }


    .comic-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

}

@media only screen and (max-width:576px) {
    .main-img-div {
        padding: 100px 0px;
    }

    .main-img-div>h1 {
        font-size: 3rem;
    }

    .main-img-div>h2 {
        font-size: 2.6rem;
    }

    .service-hero,
    .service-img-main {
        height: auto;
        padding: 100px 0px 50px 0px;
    }

    .contact-btn {
        width: 100%;
    }

    .hero-text-div>h1 {
        font-size: 2.7rem;
    }

    .hero-text-div>p {
        font-size: 14px;
    }

    .demo-page-1::after {
        opacity: 1;
    }
}

@media only screen and (max-width:430px) {
    .img-container .img-div {
        width: 300px;
        height: 350px;
    }

    .img-container .twitch-img-div {
        width: 300px;
    }

    .img-container .character-art-img-div {
        width: 300px;
        height: 350px;
    }

    .img-container .reference-img-div {
        height: 270px;
    }

    .img-container .dnd-img-div {
        width: 300px;
        height: 350px;
    }
}