/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: var(--color-1) !important;
  /* background-color: #EDEDED !important; */
  font-family: "Baloo 2", sans-serif;
}

:root {
  --color-1: #0E0C16;
  --color-2: #b983a2;
}